body {
    background-image: url('background.jpg'), url('background_1.jpg');
    background-color: grey;
    color: whitesmoke;
    font-family: 'Source Sans Pro',Helvetica, sans-serif;
}

a, a:hover{
    text-decoration: none;
    color: whitesmoke;
}

.card {
    color: whitesmoke;
}

#download{
    float: right;
}